
.body{
    background-color:rgb(252, 252, 127);
}

.header{
    display:flex;
    justify-content:center;
}

.chezimg{
    border:10px ridge yellow;
    height:400px;
    width:98.3%;
}